[submodule "Include/External/SolTrace"]
	path = Include/External/SolTrace
	url = https://github.com/NREL/SolTrace.git
[submodule "Include/External/matplotlib-cpp"]
	path = Include/External/matplotlib-cpp
	url = https://github.com/lava/matplotlib-cpp.git
